.container {
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 0.537px solid #000;
  background: #dad9e0;
}
