.container {
  display: flex;
  width: 392.535px;
  height: 223.922px;
  padding: 0px 128.646px 0px 128.876px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 0.537px solid #000;
}
