.container {
  background-color: #d48383;
}
// styles.module.scss
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}
